body {
  background: #dddddd;
  font-size: 12px;
  .vt {
    transform-origin: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//
//::-webkit-scrollbar {
//  width: 8px;
//  height: 8px;
//}
//
//::-webkit-scrollbar-track {
//  background-color: transparent;
//  border-radius: 10px;
//}
//
//::-webkit-scrollbar-thumb {
//  //border: 1px solid transparent;
//  background-color: #424244;
//  border-radius: 51px;
//  &:active {
//    background-color: #179595;
//  }
//}
//
//::-webkit-scrollbar-corner {
//  background-color: transparent;
//}
